.projectDetail {
  margin-left: 20%;
  margin-right: 20%;
  height: 160vh;
  color: black;
  background: white;
  font-weight: bold;
  font-size: 130%;
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  /* border-bottom: 2px solid black; */
}
.header {
  display: flex;
}
.header > h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
}
.img {
  margin-top: 2vh;
  margin-left: 5em;
  margin-bottom: 2vh;
  width: 80%;
  height: 30em;
  border-radius: 16px;
}

.text {
  position: relative;
  padding-top: 0;

  font-size: 1.5em;
}

.explain {
  height: 40vh;
  font-size: 1.5em;
}
.btn {
  /* height: 10vh; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn > span > button {
  padding: 20px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 130%;
  border: 4px solid black;
}
.btn > span > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.skill {
  border: 1px solid black;
  padding: 4px 10px 4px 10px;
  border-radius: 16px;
  margin-left: 3px;
}

@media screen and (max-width: 73rem) {
  .projectDetail {
    margin-left: 0;
    margin-right: 0;
    height: 160vh;
    color: black;
    background: white;
    font-weight: bold;
    font-size: 130%;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    /* border-bottom: 2px solid black; */
  }
}
