.project {
  margin-left: 20%;
  margin-right: 20%;
  height: 115vh;
  color: black;
  background: white;
  font-weight: bold;
  font-size: 130%;
  border-bottom: 2px solid black;
}
.photo {
  width: 35vh;
  height: 50vh;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.photo:hover {
  opacity: 0.4;
  transition: 0.5s;
}

.photo:hover + .view-btn {
  display: block;
}

.photo-wrap {
  position: relative;
}

.view-btn {
  position: absolute;
  display: none;
  top: 80%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.view-btn:hover {
  background-color: white;
  color: black;
}

.slides .slick-prev,
.slides .slick-next {
  /* position: relative; */
  top: 50%;
  z-index: 1;
  display: “block”;
  height: 100%;
}
.slick-prev:before,
.slick-next:before {
  font-family: “slick”;
  font-size: 50px;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slides {
  position: relative;
}
.slides .slick-prev {
  left: -7.5vh;
}
.slides .slick-next {
  right: -4vh;
}
