.header {
  margin-left: 20%;
  margin-right: 20%;

  color: black;
  background: white;
  font-weight: bold;
  font-size: 90%;
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
}
.title {
  font-size: 2.5em;
  margin: 1em 0;
}
.first {
  border-bottom: 2px dotted gray;
  padding-left: 5em;
}
.second {
  border-bottom: 2px dotted gray;
  padding-left: 5em;
}
.third {
  padding-left: 5em;
}
.description {
  font-size: 2em;
  margin: 2em 0;
}
.video {
  width: 20em;
}
