header {
  margin-left: 20%;
  margin-right: 15%;
  height: 10vh;
  color: black;
  background: white;
  font-weight: bold;
  font-size: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-header {
  border-bottom: 2px solid black;
}

.logo:hover {
  transform: scale(0.9);
}

.nav {
  margin-left: 17%;
  margin-right: 11%;
  /*margin-right: ;*/
  width: 55%;
}

.menu {
  font-size: 1.3em;
  margin-right: 8%;
}

.menu:hover {
  text-decoration: overline underline;
  text-underline-position: under;
}

.login_image {
  width: 64px;
  height: 64px;
}

.login_image:hover {
  transform: rotate(30deg);
  cursor: pointer;
}
