.header {
  display: flex;
  position: relative;
  height: 75vh;
  width: 65vh;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.table {
  position: flex;
  border: gray 3px solid;
  border-radius: 16px;
  height: 40vh;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-left: 5vh;
}
.title {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
}
.tableInt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 2px dotted gray;
  padding-left: 8vh;
}
.messagearea {
  display: flex;
  width: 80vh;
  border: gray 3px solid;
  margin-left: 5vh;
  margin-top: 2vh;
  border-radius: 16px;
}
.message {
  width: 100vh;
  text-align: center;
}

@media screen and (max-width: 73rem) {
  .header {
    display: flex;
    position: relative;
    height: 75vh;
    width: 65vh;
    justify-content: center;
    align-items: center;
    margin-left: 5vh;

    flex-direction: column;
  }
}
