.header {
  margin-left: 20%;
  margin-right: 20%;
  height: 65vh;
  color: black;
  background: white;
  font-weight: bold;
  font-size: 130%;
  display: flex;
  /* padding-top: 5%; */
  padding-left: 7vh;
}
.sidebar {
  margin-top: 20vh;
  width: 20vh;
}
