.header {
  margin-left: 20%;
  margin-right: 20%;
  height: 65vh;

  color: black;
  background: white;
  font-weight: bold;
  font-size: 130%;
  display: flex;
  padding-top: 15%;
  padding-left: 3%;
}
.sidebar {
  width: 20%;
}
