.header {
  display: flex;
  position: relative;
  height: 90%;
  width: 70vh;
  justify-content: center;
  align-items: center;
  margin-left: 5vh;
  margin-top: 5vh;
}
.table {
  border: gray 3px solid;
  border-radius: 16px;
  height: 40vh;
  width: 80vh;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5vh;
  margin-left: 5vh;
}
.title {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
}
.tableInt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 2px dotted gray;
}
.btn {
  margin-right: 1vh;
}
